.python-version
quant/data_dict.json
quant/*.png
build
dist
portfolio_tracker/holdings_own.json
index.html
portfolio_math.egg-info
__pycache__
db_interface_package/build
db_interface_package/db_interface.egg-info.egg-info
credentials/
db_interface_package/db_interface.egg-info
gh_token.txt
user_email.txt
user_name.txt
inflation/downloads/
